<h1>Show for <%= @educable_type %> <%= @educable.name %></h1>

<h1>Courses</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'assignable_info', collection: @courses %>
  </tbody>
</table>


<h1>Tests</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'assignable_info', collection: @course_tests %>
  </tbody>
</table>

<br>

<%= link_to 'Back', admin_enrollment_path %>