<p id="notice"><%= notice %></p>

<h1>Course Tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_tests.each do |course_test| %>
      <tr>
        <td><%= course_test.name %></td>
        <td><%= link_to 'Show', course_test %></td>
        <td><%= link_to 'Edit', edit_course_test_path(course_test) %></td>
        <td><%= link_to 'Destroy', course_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Test', new_course_test_path %>
